
a {
    color: #4630EB;
}

a.btn {
  color: white !important;
  padding-top: 0px !important;
  line-height: 50px;
  padding: 20px;
}

a:hover {
    color: #4630EB;
}

.img-responsive {
  max-width: 100%;
}

.navbar-brand {
  padding-top: 40px;
  margin-left: 0px
}

.nav_header {
  text-align: right;
}

.nav_links {
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  color: #787C8E;
  letter-spacing: 2px;
  padding: 15px;
  font-weight: 600;
}

.navbar-collapse {
  color:red;
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  color: #191A17;
  letter-spacing: 1.5px;
  margin-top:200px;
  font-weight:600;

}

.second-title {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #4630EB;
  letter-spacing: 5.83px;
  margin-bottom: 44px;
  font-weight: 600;
}

.about-me {

  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #707487;
  letter-spacing: 0.3px;
  line-height: 34px;
  width: 450px;
  font-weight: 400;
}


.hero_photo {
  margin-top: 160px;
}

.socials {
   list-style-type: none;
   margin-top: 300px;
}

.socials_li {
  margin-top: 20px;
}

.scroll_more {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  color: #4630EB;
  letter-spacing: 1.08px;
  margin-top: 50px;
  font-weight: 400;
}

/** Blog section **/

.blog {
  background-color: #FAFAFA;
  margin-top: 100px;
  padding-bottom: 100px;
}

.blog-right-col {
  margin-top: 40px;
}

.blog_title {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  color: #191A17;
  letter-spacing: 1.35px;
  padding-top: 50px;
  font-weight: 600;
}

.blog_item {
  width: 450px;
  background-color: #ffffff;
  margin-top: 60px; 
  margin-bottom: 40px;
}

.item-type {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #CACACA;
  letter-spacing: 0;
  margin-top: 44px;
  margin-bottom: 22px;
  padding-left: 40px;
}

.title_item {
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  color: #191A17;
  letter-spacing: 0;
  margin-bottom: 45px;
  padding-left: 40px;
  padding-right: 50px;
  font-weight: 400;
}

.read_more {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #191A17;
  letter-spacing: 0;
  padding-left: 40px;
  padding-bottom: 44px;
}

.item-content_subscribe {
  text-align: center;
  width: 450px;
  background-color: #ffffff;
  margin-top: 60px; 
  margin-bottom: 40px;
}

.get_notified {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #707487;
  letter-spacing: 0;
  line-height: 34px;
  width: 450px;
  text-align: center;
  padding-top: 44px;
}

.btn-primary {
  align-self: center;
  background-color: #4630EB;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  border: none;
}

.btn-primary:hover {
  align-self: center;
  background-color: #4630EB;
  width: 100%;
  height: 50px;
  box-shadow: 1px 3px 4px 0 rgba(181,181,181,0.50);
  border-radius: 4px;
}

.btn-secondary {
  align-self: center;
  background-color: #4630EB;
  width: 160px;
  height: 50px;
  margin-bottom: 40px;
  border: none;
}

.btn-secondary:hover {
  align-self: center;
  background-color: #4630EB;
  width: 160px;
  height: 50px;
  box-shadow: 1px 3px 4px 0 rgba(181,181,181,0.50);
  border-radius: 4px;
}

/** end of blog section **/


/** services **/ 


.left_service {
  background: #4630EB;
  padding-top: 80px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 60px;
  margin-top: 80px;
}

.service_title {
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  margin-top: 45px;
}

.service_text {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin-top: 30px;
}


.right_service {
  background: #EEEFF2;
  padding-top: 60px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 60px;
  margin-top: 80px;
}

.service_title_black {
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  color: #191A17;
  letter-spacing: 0;
}

.service_text_black {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #707487;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin-top: 30px;
}

.design_process {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #4630EB;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 80px;
  margin-left: 60px;
}

.process {
  margin-top: 20px;
  width: 100%;
}

.arrow_down {
  margin-left: 270px;
  margin-top: -40px;
}

.interested_work {
  font-family: 'Work Sans', sans-serif;
  font-size: 38px;
  color: #4630EB;
  letter-spacing: 1.08px;
  margin-top: 60px;
  margin-bottom: 100px;
  font-weight: 600;
}

.button_call {
  margin-top: 112px;
  text-align: right;
  
}

/** end of services **/

.projects {
  background-color: #0A0A0A;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: auto;
}

.projects_title {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  color: #fff;
  letter-spacing: 1.35px;
  font-weight: 600;
}

.about_project {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 34px;
  opacity: 0.8;
}

.btn-outline-primary-dribbble {
  background: rgba(245,76,160,0.20);
  border: 1px solid #FF4FA6;
  border-radius: 4px;
  color: #ffffff;
  width: 140px;
  height: 50px;
}

.btn-outline-primary-behance {
  background: rgba(70,48,235,0.20);
  border: 1px solid #4630EB;
  border-radius: 4px;
  color: #ffffff;
  width: 140px;
  height: 50px;
}


.port_buttons {
  margin-top: 60px;
  text-align: right;
}

.main_project {
  color: #fff;
  margin-top: 60px;
  padding-right: 5px;
  width: 100%;
}

.biography-content {
  padding-left: 30px;
}

.photo-biography {
  margin-top: 60px;
}

.biography-text {
  margin-top: 40px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #707487;
  letter-spacing: 0px;
  line-height: 34px;
  width: 460px;
}

.biography-head-text {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #707487;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin-top: 60px;
  width: 460px;
}


.btn-primary-follow {
  align-self: center;
  background-color: #4630EB;
  width: 240px;
  height: 50px;
  margin-bottom: 40px;
  border: none;
  color: white;
}

.btn-primary-follow:hover {
  align-self: center;
  background-color: #4630EB;
  width: 240px;
  height: 50px;
  box-shadow: 1px 3px 4px 0 rgba(181,181,181,0.50);
  border-radius: 4px;
}

.position {
  margin-top: 60px;
}

.position {
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  color: #191A17;
  letter-spacing: 0;
  font-weight: 400;
}

.company {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: #4630EB;
  letter-spacing: 0;
}

.working-years {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #707487;
  letter-spacing: 0;
}

.footer {
  background-color:#4630EB;
  margin-top: 100px;
  padding-bottom: 60px;
  padding-top: 100px;
}

.footer_text {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  width: 458px;
  margin:0 auto;
  text-align: center;
  line-height: 30px;

}

.footer_head {
  font-family: 'Work Sans', sans-serif;
  font-size: 44px;
  color: #fff;
  letter-spacing: 1.35px;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}

.button-footer {
  text-align: center;
  padding: 30px;
  color: #4630EB;
}

.btn-primary-footer {
  align-self: center;
  background-color: #fff;
  width: 240px;
  height: 50px;
  margin-bottom: 40px;
  border: none;
}

.btn-primary-footer:hover {
  align-self: center;
  background-color: #fff;
  width: 240px;
  height: 50px;
  box-shadow: 1px 3px 4px 0 rgba(181,181,181,0.50);
  border-radius: 4px;
  color: #4630EB;
}

.copyright_note {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: right;
  margin-top: 20px;
}

.social {
  padding-left: 10px;
  list-style-type: none;
  display: inline-flex;
  margin-top: 10px;
}

.social-item {
  margin-right: 20px;
}

.img_full{
   display:block;
  }

 .img_mobile{
  display:none;
 }

@media only screen and (max-width: 812px) {

.title {
  margin-top:0px;
  width: inherit;
}

.about-me {
  width: initial;
}

.socials {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0px;
  margin-top: 20px;
}

img {
  width: 100%;
}

.blog_item {
  width: initial;
}

.button_call {
  text-align: center;
  margin-top: 15px; 
}

.port_buttons {
  text-align: center;
}

.main_project {
  padding-right: 15px;
}

.biography-head-text, .biography-text {
  width: initial;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.scroll_more {
  display: none;
}

.blog-right-col {
  margin-top: -20px;
}

.pen {
  width: 60px;
  height: 60px
}

.arrow_down {
  display: none;
}

.brand {
  text-align: center;
}

.nav_header {
  text-align: center;
}

.interested_work {
  text-align: center;
}

.copyright_note {
  text-align: center;
}

.img_full {
   display:none;
  }

.img_mobile {
   display:block;
  }

.footer_text {
  width: initial;
}

.small {
  margin-top: 10px;
}

}
